/* 
    This file is part of GlpiGCC (Google Chrome Companion for GLPI).

    GlpiGCC is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GlpiGCC is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with GlpiGCC.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
	margin: 10px;
	font: 12 Arial, sans-serif;
}

h1 { font-size: 156%; }

h1 img {
	margin: 1px 5px 0 1px;
	vertical-align: middle;
}

h2 {
	border-top: 1px solid #9cc2ef;
	background-color: #ebeff9;
	padding: 3px 5px;
	font-size: 100%;
}
